@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.font-feature {
  font-feature-settings: "case" on;
}

.swiper {
  overflow: hidden;
  max-width: screen;
}

.swiper-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.swiper-slide {
  width: fit;
  height: fit;
}

html {
  overflow-y: auto;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background-color: gray;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
