@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.font-feature {
  font-feature-settings: "case" on;
}

.swiper {
  overflow: hidden;
  max-width: screen;
}

.swiper-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.swiper-slide {
  width: fit;
  height: fit;
}
